* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #003366;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section {
	flex-basis: 30%;
	margin-bottom: 40px;
}

section h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

section ul {
	list-style: none;
}

section li {
	margin-bottom: 20px;
}

section img {
	max-width: 100%;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input,
form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

form button {
	background-color: #003366;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

footer {
	background-color: #eee;
	color: #333;
	padding: 20px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	main {
		flex-direction: column;
	}

	section {
		flex-basis: 100%;
	}